/*====================Portfolio=============*/

.portfolio-section {
    width: 70%;
    height: 800px;
    margin: 50px auto;
}

.portfolio-section img {
    width: 100%;
    border-radius: 5px;
    box-shadow: gray 2px 1px 3px;
}

.portfolio-section .col {
    position: relative;
    text-align: center;
}

.portfolio-section .fa {
    color: dodgerblue;
    font-size: 40px;
    position: absolute;
    top: 40%;
    z-index: -1;
}

.portfolio-section .col:hover .fa {
    z-index: 1;
}

.portfolio-section .col:hover img {
    opacity: 0.2;
}